
 {{#if blogs.length}}
  <div class="col-md-6 blog-list">
    <h3>Current Blogs:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger " data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>



<div class="text-center">
  <h2>{{title}}</h2>
  
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary data-id">Delete Blog</button>  
  </p>
  <p>
    <button class="btn btn-primary">Update Blog</button>
  </p>
</div>
<script src="../js/dashboard.js"></script>