<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}


<div class="col s12 m7">
    <h2 class="header"> <a href="/blog/{{blog.id}}">{{blog.title}}</a></h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
           <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
        </div>
        <div class="card-action">
         <p>
            {{blog.description}}
         </p>
        </div>
      </div>
    </div>
  </div>
            

{{/each}}
